{{ $x := (.context | default .) }}

<div class="node-meta">
  <article>
    <h4>{{ i18n "meta" }}</h4>
    <div class="node-body">

      <!--[ meta: licenses ]-->
        {{ (partial "module/node/meta/licenses" (dict "context" $x)) }}
      <!--[ / meta: licenses ]-->

      <!--[ meta: file id ]-->
        {{ (partial "module/node/meta/file_id" (dict "context" $x)) }}
      <!--[ / meta: file id ]-->

      <!--[ meta: file uuid ]-->
        {{ (partial "module/node/meta/file_uuid" (dict "context" $x)) }}
      <!--[ / meta: file uuid ]-->

      <!--[ meta: file path ]-->
        {{ (partial "module/node/meta/file_path" (dict "context" $x)) }}
      <!--[ / meta: file path ]-->

      <!--[ meta: file type ]-->
        {{ (partial "module/node/meta/file_type" (dict "context" $x)) }}
      <!--[ / meta: file type ]-->

      <!--[ meta: word count ]-->
        {{ (partial "module/node/meta/word_count" (dict "context" $x)) }}
      <!--[ / meta: word count ]-->

      <!--[ meta: reading time ]-->
        {{ (partial "module/node/meta/reading_time" (dict "context" $x)) }}
      <!--[ / meta: reading time ]-->

    </div>
  </article>
</div>
