{{ $x := (.context | default .) }}

<div class="node-similar">
  <article>
    <h4>{{ i18n "see_also" }}</h4>
    <div class="node-body">
        {{ $related := (($x.Site.RegularPages.Related $x) | first 5) }}
        {{ with ($related) }}
          <ul>
              {{ range . }}
                <li>
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
              {{ end }}
          </ul>
        {{ else }}
            {{ (partial "function/alert" (dict "type" "info" "icon" "fas fa-eye-slash" "msg" "alert.no_data")) }}
        {{ end }}
    </div>
  </article>
</div>
